/* Landing Page Header */
.landing-header:before {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(200, 200, 200, 0.3) 95%, rgba(120, 120, 120, 0.4) 100%);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}